import path from "path";
import {
  saveProjectDirectoryAbsolutePath,
  saveProjectEntryFileAbsolutePath
} from "@/frameworks/react-ssr-tool-box/runtime";

saveProjectDirectoryAbsolutePath(path.resolve(path.dirname(__filename),"../"));
saveProjectEntryFileAbsolutePath(__filename);

import "$$REAL_ENTRY_FILE_FULL_PATH$$";